<!DOCTYPE html>
<html>
<head>
  <title>API Tokens</title>
</head>
<body>
  <form action="/api/authenticate" method="post">
    Username: <input name="name" type="text" /><br />
    Password: <input name="password" type="password" /><br />
    <input type="submit" value="Get API token" />
  </form>
  <script>
  </script>
</body>
</html>
